
body{
  width: 50%;
  margin: 0 auto;

}
header{ 
  text-align: center;
}

header h1{
  font-size: 100px;
  color: #2c3e50;
  font-weight: 200;
}

input{
   font-size: 20px;
   color: #2c3e50;
   width: 100%;
   border: none;
   outline: none;
   border-bottom: 1px solid #2c3e50;
   padding: 5px;
}

.task{
  background-color: #34495e;
  padding: 15px;
  margin: 5px;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.task span{
   color: #ffffff;
}

.icon{
   float: right;
   margin-right: 20px;
}

article{
  display: grid;
}

.edit-todo {
  width:85%;
  font-size:16px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  border-bottom:1px solid #FFFFFF;
}

.button{
  margin: 0 10px;
  padding : 10px;
  font-size: 14px;
  color: #8670b4;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
  width:100px;
  border-radius: 10px;
  margin-top: 15px;

}

.button.selected{
  color: #FFFFFF;
  background-color: #8670b4;
}

.button.clear{
  float :right;
  color: #FFFFFF;
  background-color: red;
  width: 170px;
  /* border-radius: 10px; */
}

.form{
  display: flex;
  
}

.add-todo-btn{
  border: 2px solid rgb(53, 25, 176);
  background-color: #8670b4;
  color: #FFFFFF;
}
.update-todo-btn{
  border: 2px solid rgb(53, 25, 176);
  background-color: #8670b4;
  color: #FFFFFF;
}
.delete{
  background-color: red;
}
